In [31]:
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
import math
import pandas as pd
import pickle
from pandas import Series
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import InputLayer, Input
from tensorflow.python.keras.layers import Reshape, MaxPooling2D
from tensorflow.python.keras.layers import Conv2D, Dense, Flatten

In [2]:
#emotion = {'Angry': 0, 'Disgust': 1, 'Fear': 2, 'Happy': 3,
#           'Sad': 4, 'Surprise': 5, 'Neutral': 6, 'Contempt':7}

In [52]:
with open('../imagelist.pkl', 'rb') as fin:
    kaggle_pkl = pickle.load(fin)

In [33]:
with open('./data/pixel.pd', 'rb') as fin:
    data_pd = pickle.load(fin)

In [48]:
s = data_pd['pixels']

In [51]:
pd.DataFrame.from_items(zip(s.index, s.values)).as_matrix()

array([[ 70, 151,  28, ...,  29, 180,  22],
       [ 72, 150,  26, ...,  27, 189,  23],
       [ 74, 149,  23, ...,  24, 190,  23],
       ...,
       [ 98, 184, 171, ..., 168,  56,  73],
       [ 88, 184, 172, ..., 167,  56,  67],
       [ 80, 184, 172, ..., 166,  58,  64]], dtype=uint8)

In [55]:
np.asarray(data_pd['emotion'])

array(['Angry', 'Angry', 'Angry', ..., 'Happy', 'Angry', 'Neutral'], dtype=object)

In [53]:
kaggle_img = np.asarray([item[1] for item in kaggle_pkl])
kaggle_img

array([[  70.,   80.,   82., ...,  106.,  109.,   82.],
       [ 151.,  150.,  147., ...,  193.,  183.,  184.],
       [ 231.,  212.,  156., ...,   88.,  110.,  152.],
       ...,
       [ 255.,  255.,  255., ...,   79.,   79.,   83.],
       [ 134.,  124.,  167., ...,   34.,   28.,  139.],
       [ 219.,  192.,  179., ...,   57.,   39.,   40.]])

In [18]:
kaggle_label = np.asarray([item[0] for item in kaggle_pkl])
kaggle_label = pd.DataFrame(kaggle_label, columns = ['emotion'])

In [22]:
kaggle_label_dummy = pd.get_dummies(kaggle_label, columns = kaggle_label)
kaggle_label_dummy = np.array(kaggle_label_dummy)

In [23]:
kaggle_label_target = np.argmax(np.array(kaggle_label_dummy, dtype=pd.Series),axis=1)
kaggle_label_text = kaggle_label.emotion.tolist()

In [27]:
pd.get_dummies(kaggle_label, columns = kaggle_label)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>emotion_Angry</th>
      <th>emotion_Fear</th>
      <th>emotion_Happy</th>
      <th>emotion_Neutral</th>
      <th>emotion_Sad</th>
      <th>emotion_Surprise</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>